@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
    --base-color: white; 
    --text-color: black;
}

.darkmode{
    --base-color: black; 
    --text-color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--base-color);
    color: var(--text-color);
}
header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}
.logo:hover{
    transform: scale(1.1);
}
nav a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
nav a:hover,
nav a.active{
    color: var(--text-color);
    border-bottom: 3px solid var(--text-color);
}
@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid var(--text-color);
        border-bottom: 3px solid var(--text-color);
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: var(--base-color);
        border-top: 0.1rem solid var(--base-color);
    }
    nav.active{
        display: block;
    }
    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    
    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #b74b4b;
    }
    
}

#theme-switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    

}
#theme-switch svg{
    fill: var(--text-color)
}


section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: var(--base-color);
}
.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}
span{
    color: var(--text-color);
}
.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}
.home-content p{
    font-size: 1.6rem;
}
.home-img{
    border-radius: 50%;
}
.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #b74b4b;
    cursor: pointer;
    transition: 0.2s linear;
    pointer-events: none;
}
.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid var(--text-color);
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: var(--text-color);
}
.social-icons a:hover{
    color: var(--base-color);
    transform: scale(1.3) translateY(-5px);
    background-color: var(--text-color);
    box-shadow: 0  0 25px var(--text-color);
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: var(--base-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--text-color);
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid var(--text-color);
    transition: 0.3s ease;
    cursor: pointer;
}
.btn:hover{
    transform: scale3d(1.03);
    background-color: var(--text-color);
    color: var(--base-color);
    box-shadow: 0 0 25px var(--text-color);
}

.heading{
    text-align: center;
    font-size: 5rem;
    margin: 3rem 0;
}

.services{
    color: var(--text-color); 
}

.services h2{
    color: var(--text-color);
}

.services-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 2.5rem;
}

.service-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--base-color);
    height: 450px;
    border-radius: 3rem;
    cursor: pointer;
    border: 3px solid;
    transition: 0.4s ease-in-out;
}

.service-box:hover{
    background-color: var(--text-color);
    color: var(--base-color);
    border: 5px solid var(--text-color);
    transform: scale(1.03);
}

.service-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.service-info i{
    font-size: 8rem;
}

.service-info svg{
    fill: var(--text-color)
}

.service-info:hover svg{
    fill: var(--base-color)
}

.service-info h4{
    font-size: 3rem;
    margin: 2rem 0;
    font-weight: 800;
}

.service-info p{
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.7;
}

.contact-container{
    height: 100hv;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-left-title h2{
    font-weight: 600;
    font-size: 5rem;
    margin-bottom: 5px;
}

.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: var(--text-color);
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs{
    height: 50px;
    width: 400px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: var(--base-color);
    background-color: var(--text-color);
    border-radius: 50px;
}

.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus{
    border: 2px solid var(--base-color);
}

.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 50px;
    font-size: 16px;
    gap: 10px;
    border: 2px solid var(--text-color);
    border-radius: 50px;
    cursor: pointer;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.typing-text span{
    position: relative;
}
.typing-text span::before{
    content: "Student";
    color: var(--text-color);
    animation: words 20s infinite;
}

.typing-text span::after{
  content: "";
  background-color: var(--base-color);
  position: absolute;
  width: calc(100% + 20px);
  height: 100%;
  border-left: 3px solid var(--base-color);
  animation: cursor 0.6s infinite; 
}





@keyframes cursor{
  to{
      border-left: 3px solid var(--text-color);
  }
}
@keyframes words{
  0%, 20%{
      content: "Student";
  }
  21%, 40%{
      content: "Filmmaker";
  }
  41%, 60%{
      content: "Developer";
  }
  61%, 80%{
      content: "Photographer";
  }
  81%, 100%{
      content: "Writer";
  }
}





@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }

}
@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }
    .home .home-content h3{
        font-size: 2.5rem;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }


}
